<h1>Movie Watch List</h1>

<ul>
  {{#each movies}}
  <li>
    <p>
      {{this.id}}. {{this.movie}}

      <button data-movieid="{{this.id}}" class="delmovie">Delete Movie!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a Movie</h2>
<form id="createmovie" class="button-size">
  <textarea id="content" type="text" name="movie"></textarea>
  <button type="submit">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form id="updatemovie" class="button-size">
  <select name="id">
		{{#each movies}}
			<option value="{{this.id}}">{{this.movie}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="movie" placeholder="movie"></textarea>
  <button type="submit">Update Movie!</button>
</form>

<script type="text/javascript">
  $(".delmovie").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("movieid");

    // Send the DELETE request.
    $.ajax("/api/movies/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createmovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newmovie = {
    movie: $("#createmovie [name=movie]").val().trim()
    };
    console.log(newmovie);
    // Send the POST request.
    $.ajax("/api/movies", {
      type: "POST",
      data: newmovie
    }).then(
      function() {
        console.log("created new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updatemovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedMovie = {
      movie $("#updatemovie [name=movie]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/movies/" + id, {
      type: "PUT",
      data: updatedMovie
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>